@font-face {
  font-family: inter-regular;
  src: url(../fonts/interVF.ttf);
  font-weight: 400;
}

@font-face {
  font-family: inter-bold;
  src: url(../fonts/interVF.ttf);
  font-weight: 700;
}

@font-face {
  font-family: roboto-bold;
  src: url(../fonts/RobotoSlabVF.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/RobotoSlabVF.ttf);
  font-weight: normal;
}

@font-face {
  font-family: zagzookGames;
  src: url(../fonts/Zagzook-Regular.ttf);
  font-style: normal;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-main: #f0f2f5;
  --bg-body: #fff;
  --color-txt: #000;
  --filled-color: #000;
  --filled-bg: #caf0f8;

  --white: #fff;
  --blue: #00aeef;
  --red: #e91e63;
  --black: #000;

  --nav-size: 7rem;
  --sudoku-cell-size-4: 11.25rem;
  --sudoku-cell-size-6: 7.5rem;
  --sudoku-cell-size-8: 5.625rem;
  --sudoku-cell-size-9: 5rem;

  --border-radius: 0.5rem;

  --space-y: 2rem;

  --gap: 0.5rem;

  --font-size: 2.4rem;
  --font-size-lg: 3.2rem;
  --font-size-xl: 4rem;
  --font-game-regular: 3rem;
  --font-game-lg: 4rem;
  --font-game-xl: 4rem;

  --color-1: #800000;
  --color-2: #e6194b;
  --color-3: #f58231;
  --color-4: #3cb44b;
  --color-5: #000075;
  --color-6: #808000;
  --color-7: #42d4f4;
  --color-8: #f032e6;
  --color-9: #dcbeff;
}

.dark {
  --bg-main: #2a2a38;
  --bg-body: #1a1a2e;
  --color-txt: #6a6a6a;
  --filled-color: #4f4f63;
  --filled-bg: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: roboto-regular;
  height: 100vh;
  font-size: var(--font-size);
  background-color: var(--bg-body);
  overflow-x: hidden;
  user-select: none;
}

input {
  border: 0.2rem solid var(--bg-main);
  color: var(--color-txt);
}

input:hover,
input:focus {
  border-color: var(--blue);
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

nav {
  background-color: var(--bg-body);
  color: var(--color-txt);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-size - 10rem);
  box-shadow: 0.5rem 0.2rem var(--bg-main);
  z-index: 99;
}

.nav-container {
  max-width: 54rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: var(--nav-size);
}

.nav-logo img {
  font-size: var(--font-size-lg);
  color: var(--blue);
  height: 6rem;
  display: flex;
  align-items: center;
}

.tile-name {
  font-size: var(--font-size-lg);
  color: var(--blue);
}

.nav-icons {
  color: var(--blue);
  font-size: var(--font-size-lg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
}

.dark-mode-toggle {
  color: var(--blue);
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.bxs-cog {
  display: inline-block;
  padding-right: 1.5rem;
}
.bxs-user {
  padding-right: 1.5rem;
}

.light .bxs-sun {
  display: none;
}

.light .bxs-moon {
  display: inline-block;
}

.dark .bxs-sun {
  display: inline-block;
}

.dark .bxs-moon {
  display: none;
}

.main {
  height: 100vh;
  padding-top: var(--nav-size)-4rem;
  display: grid;
  place-items: center;
}

.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 40rem;
  /* background-color: var(--color-txt); */
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: none;
}

.start-screen.active {
  transform: translateX(0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen > * + * {
  margin-top: 1.2rem;
}

.input-name {
  height: 8rem;
  width: 28rem;
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--bg-main);
  padding: 20px;
  font-size: var(--font-size-lg);
  text-align: center;
}
.game-image {
  height: 35rem;
  width: 35rem;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 1rem;
}
.btn {
  height: 8rem;
  width: 28rem;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.input-err {
  border-color: var(--red);
  animation: bounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2rem);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* 9X9 Grid */

.main-game {
  display: none;
  padding: 3rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.main-game.active {
  transform: translateX(0);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
}

.grid-type-title {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: var(--font-game-lg);
  color: var(--blue);
}

.main-sudoku-grid {
  font-size: var(--font-size-xl);
}

.main-sudoku-grid.grid-4 {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, auto);
}

.main-sudoku-grid.grid-6 {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(6, auto);
}

.main-sudoku-grid.grid-8 {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(8, auto);
}

.main-sudoku-grid.grid-9 {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(9, auto);
}

.main-grid-cell {
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  display: grid;
  place-items: center;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.grid-4X4 {
  height: var(--sudoku-cell-size-4);
  width: var(--sudoku-cell-size-4);
}

.grid-6X6 {
  height: var(--sudoku-cell-size-6);
  width: var(--sudoku-cell-size-6);
}

.grid-8X8 {
  height: var(--sudoku-cell-size-8);
  width: var(--sudoku-cell-size-8);
}

.grid-9X9 {
  height: var(--sudoku-cell-size-9);
  width: var(--sudoku-cell-size-9);
}

.color-main {
  color: var(--color-txt) !important;
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}
.color-5 {
  color: var(--color-5);
}
.color-6 {
  color: var(--color-6);
}
.color-7 {
  color: var(--color-7);
}
.color-8 {
  color: var(--color-8);
}
.color-9 {
  color: var(--color-9);
}

.main-grid-cell.filled {
  background-color: var(--filled-bg);
  /* color: var(--filled-color); */
}

.main-grid-cell.selected {
  background-color: var(--blue);
  color: var(--white);
}

.main-grid-cell:hover {
  border: 0.2rem solid var(--blue);
}

.main-grid-cell.hover {
  border: 0.3rem solid var(--blue);
}

.dark .main-grid-cell.hover {
  border: 0.1rem solid var(--blue);
}

.main-grid-cell.err {
  background-color: var(--red);
  color: var(--white);
}

.main-game-info {
  margin-top: var(--space-y);
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.main-game-info-box {
  height: 4.5rem;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  padding: 0 2rem;
  font-size: var(--font-size);
}

.main-game-info-time {
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  margin-bottom: auto;
}

.pause-btn {
  position: absolute;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size);
  display: grid;
  place-items: center;
  cursor: pointer;
}

/* .numbers {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
} */
.numbers.grid-4 {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.numbers.grid-6 {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.numbers.grid-8 {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.numbers.grid-9 {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.game-font {
  font-family: zagzookGames;
}

.number {
  border-radius: var(--border-radius);
  background-color: var(--filled-bg);
  display: grid;
  place-items: center;
  font-size: var(--font-game-xl);
  cursor: pointer;
}

.number.grid-4,
.delete.grid-4 {
  height: var(--sudoku-cell-size-4);
  font-size: var(--font-game-xl);
}

.number.grid-6,
.delete.grid-6 {
  height: var(--sudoku-cell-size-6);
}

.number.grid-8,
.delete.grid-8 {
  height: var(--sudoku-cell-size-8);
}

.number.grid-9,
.delete.grid-9 {
  height: var(--sudoku-cell-size-9);
}

.delete {
  background-color: var(--red);
  color: var(--white);
  height: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.delete.grid-6 {
  grid-column: span 3;
}

.delete.grid-8 {
  grid-column: span 2;
}

.pause-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.pause-screen.active {
  display: flex;
}

.pause-screen > * + * {
  margin-top: 2rem;
}

.pause-screen.active .btn {
  animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
